#text_area{
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px;
    padiing: 5px;
    resize: none;
    font-family: serif;
    font-weight: bold;
}

#text_length{
    color: #999;
    font-size: 13px;
}

#text_length.out{
    color: #C00;
}